element.style {
}
@media (min-height: 500px) and (min-width: 400px)
.tagline__text {
    font-size: 3em;
    max-width: 20em;
    padding-top: 30px;
}
.tagline__text {
    width: 100%;
    max-width: 90%;
    font-size: 3em;
    margin: 0 auto;
    font-weight: 300;
    text-align: center;
}
.learn-more, .section__title, .wide-letter-spacing {
    letter-spacing: .1em;
}
*, :after, :before {
    -webkit-font-smoothing: inherit;
}
*, :after, :before {
    box-sizing: border-box;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
*, :after, :before {
    -webkit-font-smoothing: inherit;
}
*, :after, :before {
    -webkit-font-smoothing: inherit;
}
*, :after, :before {
    -webkit-font-smoothing: inherit;
}
.fp-enabled body, html.fp-enabled {
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}
body {
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-center: middle;
    flex-align: middle
    flex-align: center;
}
*, 

*, :after, :before {
    -webkit-font-smoothing: inherit;
}
.fp-enabled body, html.fp-enabled {
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}
html {
    font-family: refrigerator-deluxe,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
html {
    background-color: #000;
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}
html {
    font-family: refrigerator-deluxe,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-weight: 300;
    line-height: 1.5;
}
*, :after, :before {
    -webkit-font-smoothing: inherit;
}
*, :after, :before {
    -webkit-font-smoothing: inherit;
}
*, :after, :before {
    box-sizing: border-box;
}
*, :after, :before {
    -webkit-font-smoothing: inherit;
}

*, :after, :before {
    box-sizing: border-box;
}

h1 {
	font-family: 'Impact', sans-serif;
	color: white;
	font-weight: 700;
	font-size: 6rem;
	align-self: center;
	text-align: center;
}
h3 {
	font-family: 'Impact', sans-serif;
	font-size: 1.2rem;
	color: gray;
	align-self: center;
	text-align: center;
}
.center {
	display: table-cell;
    text-align: center;
    vertical-align: middle;
}
input {
	border: none;
	padding: 10px;
	width: 50vw;
	height: 3em;
	align-self: center;
}
.snip1544 {
  padding: 50px 0;
  text-align: center;
  font-family: 'Impact', sans-serif;
  color: #ffffff;
  cursor: pointer;
  padding: 0px 40px;
  display: inline-block;
  margin: 2px 30px;
  line-height: 2.2em;
  letter-spacing: 1.5px;
  font-size: 1em;
  outline: none;
  position: relative;
  font-size: 14px;
  border: 1.5px solid #fff;
  background-color: transparent;
  border-radius: 0 0 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.snip1544:hover,
.snip1544.hover {
  border-color: gray;
}

#inner {
  width: 50%;
  margin: 0 auto;
}
